Package: be.dawson.PocketMode
Name: PocketMode
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nick Dawson
Author: Nick Dawson
Section: Tweaks
