<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PocketMode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>GlobalEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openUserGuide</string>
			<key>label</key>
			<string>User Guide</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Phone</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>icon</key>
			<string>Phone.png</string>
			<key>key</key>
			<string>PhoneCallEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>PhoneCallVolume</string>
			<key>leftImage</key>
			<string>SpeakerMute.png</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>rightImage</key>
			<string>SpeakerMax.png</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>PhoneCallGradual</string>
			<key>label</key>
			<string>Gradual Volume Increase</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>PhoneCallOverrideMute</string>
			<key>label</key>
			<string>Override Mute</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>PhoneCallFacetimeEnabled</string>
			<key>label</key>
			<string>FaceTime</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Messages</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>icon</key>
			<string>Messages.png</string>
			<key>key</key>
			<string>MessagesEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>MessagesOverrideMute</string>
			<key>label</key>
			<string>Override Mute</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>MessagesVolume</string>
			<key>leftImage</key>
			<string>SpeakerMute.png</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>rightImage</key>
			<string>SpeakerMax.png</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>NotificationsEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Applications</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALChangeNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>((isSystemApplication = TRUE) &amp;&amp; (displayIdentifier != &quot;com.apple.MobileSMS&quot;) &amp;&amp; (displayIdentifier != &quot;com.apple.mobilephone&quot;))</string>
					<key>suppress-hidden-apps</key>
					<true/>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>(isSystemApplication = FALSE)</string>
					<key>suppress-hidden-apps</key>
					<true/>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>NotificationsApp-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/be.dawson.pocketmodeprefs.plist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>NotificationsOverrideMute</string>
			<key>label</key>
			<string>Override Mute</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>NotificationsVolume</string>
			<key>leftImage</key>
			<string>SpeakerMute.png</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>rightImage</key>
			<string>SpeakerMax.png</string>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Increase or decrease the light sensitivity to change at what lux value PocketMode activates. Lower values are darker.</string>
			<key>label</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Light Sensitivity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>defaults</key>
			<string>be.dawson.pocketmodeprefs</string>
			<key>key</key>
			<string>LuxLevel</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10</string>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>be.dawson.pocketmode.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Copyright 2014 Nick Dawson</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openTwitterLink</string>
			<key>label</key>
			<string>Follow @nidawson</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Version 2.1</string>
		</dict>
	</array>
	<key>title</key>
	<string>PocketMode</string>
</dict>
</plist>
