Package: be.dawson.PocketMode2
Name: PocketMode 2
Depends: mobilesubstrate, preferenceloader, applist, firmware (>= 7.0)
Version: 2.0.0
Architecture: iphoneos-arm
Description: PocketMode makes your iPhone ring louder when it’s in your pocket or bag
Maintainer: Nick Dawson
Author: Nick Dawson
Section: Tweaks
